<!-- head start -->
    {{>layouts/header}}
    <title>{{titleheader}}</title>
    {{>layouts/headersec}}

<!-- content start -->
    <div class="bg-dark text-white p-5">
        <h1>{{username}}님, 반갑습니다!</h1>
    </div>

<!-- footer Start -->
    {{>layouts/footer}}
